<% content_for :body do %>
  <section class="seminars">
    <%= render :partial => 'seminar', :collection => @seminars %>
  </section>
<% end %>

<% content_for :side_body do %>
  <%= render 'body_content_right' %>
<% end %>

<%= render '/refinery/content_page' %>
