<% content_for :body do -%>
  <section>
    <%= raw @page.try(:content_for, :body) %>
  </section>
  <section>
    <%= render 'form' %>
  </section>
<% end -%>

<% content_for :side_body do %>
  <%= render '/refinery/seminars/seminars/body_content_right' %>
<% end %>

<%= render '/refinery/content_page' %>
