<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>Thank you for signing up for a complimentary seminar or workshop at UMassFive! We are committed to financial literacy so that you can make the best decisions with your money. We look forward to seeing you for <strong><%= @signup.seminar.name %>: <%= @signup.date.to_label %></strong>.</p>

    <p>Please arrive a few minutes early, if possible. We start promptly. If you have questions or are unable to attend this seminar, please contact us at <a href="mailto:info@umassfive.coop">info@umassfive.coop</a> or 800-852-5886.</p>
  </body>
</html>
